<% unless defined?(already_embedded) && already_embedded %>
 <div id="<%= dom_id comment %>" class="text-base bg-white dark:bg-slate-900">
<% end %>

    <% comment_date_formatted = comment.created_at
      .in_time_zone("America/New_York")
      .strftime("%B %d, %Y at %I:%M %p %Z") %>
    <% comment_date_iso = comment.created_at.iso8601 %>

  <footer class="flex justify-between items-center mb-2">
    <div class="flex items-center">
      <p class="mr-1 text-md text-slate-900 dark:text-white font-semibold">
        <%= comment.author.display_name %>
      </p>
      <% if comment.author.website.present? %>
        <p class="mr-1 text-sm text-slate-600 dark:text-slate-400 underline">
          (<%= link_to display_url(comment.author.website), normalize_url(comment.author.website), target: "_blank", rel: "noopener" %>)
        </p>
      <% end %>
      <p class="text-sm text-slate-600 dark:text-slate-400">
        <time datetime="<%= comment_date_iso %>"><%= comment_date_formatted %></time> 
      </p>
    </div>
  </footer>

  <p class="text-slate-500 dark:text-slate-300">
    <%= comment.content %>
  </p>

<% unless defined?(already_embedded) && already_embedded %>
  </div>
<% end %>
