<%= form_with(model: comment) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <h2>Notes:</h2>
    <ul>
      <li> comments cannot be edited or deleted, except by moderators </li>
      <li> comments are plain-text </li>
      <li> expect all information provided to be public </li>
      <li> be kind :] </li>
    </ul>
  </div>

  <div>
    <% post_path = @comment.post_path || params[:post_path] %>
    <% parent_id = @comment.parent_id|| params[:parent_id] %>
    <p> Post Path = <%= post_path %> </p>
    <%= form.hidden_field :post_path, value: post_path %>
    <p> Parent ID = <%= parent_id %> </p>
    <%= form.hidden_field :parent_id, value: parent_id %>
  </div>

  <% if parent_id %>
    <p>
      Replying to:
    </p>
    <blockquote>
      <%= render Comment.find_by_id(parent_id) %>
    </blockquote>
  <% end %>
  <div>
    <%= form.label :content, "Your Comment", style: "display: block" %>
    <%= form.textarea :content %>
  </div>


 <!-- Nested Author Fields -->
  <fieldset>
    <legend>Author Details (Optional)</legend>
    <%= form.fields_for :author, comment.author || Author.new do |author_fields| %>
      <div>
        <%= author_fields.label :name, "Your Name" %>
        <%= author_fields.text_field :name %>
      </div>
      <div>
        <%= author_fields.label :website, "Your Website URL" %>
        <%= author_fields.text_field :website %>
      </div>
      <div>
        <%= author_fields.label :email, "Your E-Mail (only visible to admin)" %>
        <%= author_fields.text_field :email %>
      </div>
    <% end %>
  </fieldset>


  <div>
    <%= form.submit %>
  </div>
<% end %>
